* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    gap: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f1f1f1;
}

input, button, textarea, select, table {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.monospace {
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
    word-break: break-all;
}